<html>
   <body>
 
		<img src="./Faisp.png" alt="Texto alternativo" title="Faisp"  />

	<form action = "http://localhost:5000/resultado" method = "POST">
		<p>Name <input type = "text" name = "Name" /></p>
		<p>Email <input type = "text" name = "Email" /></p>
		<p>Nascimento <input type = "text" name = "nasc" /></p>
		<p>Idade <input type = "text" name = "idade" /></p>		
		<p>genero <input type = "text" name = "genero" /></p>
		<p>graduação <input type = "text" name = "grad" /></p>
		<p><input type = "submit" value = "Cadastrar" /></p>
	</form>

   </body>
</html>